/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr, 0.5fr;
    width: 100%;
    min-width: 600px;
    min-height: 100px;
    height: auto;
    background-color: violet;
    padding: 0.5%;
}

header {
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    border: black solid 2px;
}

header img {
    height: auto;
    width: 200px;
}

main {
    grid-column: 2 / 6;
    border: black solid 2px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

section {
    border: black solid 2px;
}

.time-container {
    background-color: aquamarine;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    display: grid;
    grid-column: 1 / 4;
    padding: 10px;
}

.patreons {
    background-color: lightyellow;
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-column: 4 / 6;
    padding: 10px;
}

footer {
    grid-column: 1 / 6;
    background-color: antiquewhite;
    border: black solid 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer img.footer-image {
    width: 40%;
    height: auto;
}
